<%= link_to 'Add Restaurant', new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
  <div>
    <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= restaurant.category %></p>
  </div>
<% end %>
